$primary:       #dc542c !default;
$secondary:     #f9e29f !default;
$success:       #23b679 !default;
$info:          #0c1c74 !default;
$warning:       #ffcd39 !default;
$danger:        #d42020 !default;

$font-family-sans-serif: 'Roboto', sans-serif !default;

$headings-font-family: 'Fredoka One', cursive !default;

